/* Body
----------------------------------------------------------------------------------------------------*/
body { width: 808px; overflow-x: hidden;}
.grid_1, .grid_2, .grid_3, .grid_4 { margin-left: 8px; margin-right: 8px; }

/* Grids
----------------------------------------------------------------------------------------------------*/
.container_4 { width: 808px; margin:0; }
.container_4 .grid_1 { width:190px; }
.container_4 .grid_2 { width:396px; }
.container_4 .grid_3 { width:602px; }
.container_4 .grid_4 { width:808px; }

/* Prefix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/
.container_4 .prefix_1 { padding-left:206px; }
.container_4 .prefix_2 { padding-left:412px; }
.container_4 .prefix_3 { padding-left:618px; }

/* Suffix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/
.container_4 .suffix_1 { padding-right:206px; }
.container_4 .suffix_2 { padding-right:412px; }
.container_4 .suffix_3 { padding-right:618px; }

.alpha { margin-left: 0; }
.omega { margin-right: 0; }


#wrapper { border: none; width: 808px; /* background: #fff url('../images/footer_top_bg.png') bottom repeat-x; */ }
#metanavi-slidedown, #metanavi-slidedown, #header, #navigation, #werkbesichtigung { display: none; }


/* #sidebar .box { border: 2px #f3f3f3 solid; } */

#content .product-box {width: 197px; margin: 0 0 0 6px; }
/* #content.abstand { margin-top: 0; } */


#content1 {width: 540px;}
#content2 { display: none; }
#sidebar { width: 216px; margin-left: 40px; }

.firstfooter { margin-left: 15px; }

/* Slider */
#slider { width: 810px; overflow: hidden; }
#slideshow, #slider .slider-shadow { height: 300px; overflow: hidden; }

#slideshow .slide .quote.left { left: 30px; }
#slideshow .slide .quote.top { top: 30px; }
#slideshow .slide .quote.bottom { top: 100px; }

#slider #prev1, #slider #next1 { top: 90px; }
