/* --------------------------------------------------------------

   IE.css - Adcom Production

   ongoing GmbH - Internet & Design
   * Copyright: 2012 by ongoing GmbH
   http://www.ongoing.ch

-------------------------------------------------------------- */

img, a { border: none; }



#slideshow .slide .color-white h2 span.textbg { background:none; background-image: url('../images/blackbg.png'); }
#slideshow .slide .color-black h2 span.textbg { background:none; background-image: url('../images/whitebg.png'); }


#slideshow .slide .color-white span.quote-name { background:none; background-image: url('../images/blackbg.png'); }
#slideshow .slide .color-black span.quote-name { background:none; background-image: url('../images/whitebg.png'); }



#slider .slider-shadow { display: none; }


#navigation { position: static; }


#header .headerlogos { display: none; }

#switzerland { display: none; }